image: debian:latest

#prepare the os:
before_script:
  - apt-get update -y && apt-get upgrade -y
  - apt-get install -y xz-utils wget
  - wget -qO "shellcheck.tar.xz" "https://storage.googleapis.com/shellcheck/shellcheck-stable.linux.x86_64.tar.xz"
  - tar -xvf "shellcheck.tar.xz"
  - cp "shellcheck-stable/shellcheck" /usr/bin/
  - shellcheck --version

test-apache:
  stage: test
  script:
    - shellcheck ./downloaders.sh