image: debian:latest

#prepare the os:
before_script:
  - apt-get update -y && apt-get upgrade -y
  - apt-get install -y xz-utils wget
  - wget -qO "shellcheck.tar.xz" "https://storage.googleapis.com/shellcheck/shellcheck-stable.linux.x86_64.tar.xz"
  - tar -xvf "shellcheck.tar.xz"
  - cp "shellcheck-stable/shellcheck" /usr/bin/
  - shellcheck --version
  - export SHELLCHECK_OPTS="-e SC2236"

test-scripts:
  stage: test
  script:
    - shellcheck ./downloaders.sh
    - shellcheck ./file.sh
    - shellcheck ./http.sh
    - shellcheck ./input.sh
    - shellcheck ./output.sh
    - shellcheck ./packages.sh
    - shellcheck ./sysinfo.sh
    - shellcheck ./various.sh

test-installers:
  stage: test
  script:
    - shellcheck ./installers/docker.sh
    - shellcheck ./installers/elasticsearch.sh
    - shellcheck ./installers/elasticsearchBeats.sh
    - shellcheck ./installers/java.sh
    - shellcheck ./installers/motd.sh
    - shellcheck ./installers/munin.sh
    - shellcheck ./installers/muninPlugins.sh
    - shellcheck ./installers/mysql.sh
    - shellcheck ./installers/netcorert.sh
    - shellcheck ./installers/netdata.sh
    - shellcheck ./installers/webmin.sh
    - shellcheck ./installers/webserver.sh